.tab--selected {background-color:#323232 !important;
		border-top-color: #29B0C3 !important;
		color:#abc432 !important;
		}

#title-page-id {background-color: #fafafa;
  color: #333333;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15), 0px 0px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
		height: 100vh;}

#welcome-message-form-id {align:center;
				font-weight:bold;
				height:6vh;
				border-style:solid;
				padding-top:.5vh;
				padding-left:.5vw;
				background:
  				radial-gradient(#E6FFFE 15%, transparent 16%) 0 0,
				radial-gradient(#E6FFFE 15%, transparent 16%) 8px 8px,
				radial-gradient(#DFFFDC 15%, transparent 20%) 0 1px,
				radial-gradient(#DFFFDC 15%, transparent 20%) 8px 9px;
				background-color:#F7E6FF;
				background-size:1.2vh 1.1vw;
				text-align:left;
				font-size:3vh;
				border-width:0px;}

#tab-one-buttons-div-id {padding-top: 1vh;
			padding-left: 2.5vw;
			padding-right: 3.5vw;
			height: 22vh;}

#buttons-label-id {font-weight:bold;
		font-size:2.2vh;}

#total-time-div-id {padding-top: 1vh;
			padding-left: 2.5vw;
			padding-right: 3.5vw;
			text-align:center;
			height: 22vh;}

#avg-time-div-id {padding-top: 1vh;
			padding-left: 2.5vw;
			padding-right: 1.5vw;
			text-align:center;
			height: 22vh;}

#instructions-form-id {width:34%;
				text-align:left;
				padding-top: 1vh;
				padding-left: 1.5vw;
				padding-right: 1vw;
				display:flex;
				flex-direction: column;
				}

#api-pull-components-div-id {width:66%;}


#model-section-title-div-id {display:flex; 
				justify-content:center; 
				font-size: 3.9vh; 
				padding: .4vw .6vh;
				margin-bottom: 1vh;}



#total-time-label-id {font-weight:bold;
		font-size:2.2vh;}

#avg-time-label-id {font-weight:bold;
		font-size:2.2vh;}

#avg-time-box-id {background-color: #000000;
			height: 15vh;
			margin: 1.2vh .1vw;
			font-size:2.5vh;
			color:#ffbf00;
			border-color: #bbbbbb;
			border-style:solid;
			border-width:4vh;
			display: flex;
            		align-items: center;
			justify-content:center;}

#total-time-box-id {background-color: #000000;
			height: 15vh;
			margin: 1.2vh .1vw;
			font-size:2.5vh;
			color:#ffbf00;
			border-color: #bbbbbb;
			border-style:solid;
			border-width:4vh;
			display: flex;
            		align-items: center;
			justify-content:center;}

#model-pred-btn-id {background-color: #02075d;
    border: none;
    color: white;
    padding-left: .4vw;
    padding-right: .4vw;
    text-align: center;
    width: 16vw;
    text-decoration: none;
    font-size: 1.9vh;
    margin-right: 1vw;
    margin-left: 1vw;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 6vh;}

#export-preds-btn-id {background-color: #02075d;
    border: none;
    color: white;
    padding-left: .4vw;
    padding-right: .4vw;
    text-align: center;
    width: 16vw;
    text-decoration: none;
    font-size: 1.9vh;
    margin-right: 1vw;
    margin-left: 1vw;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 6vh;}

#model-coefficients-graph-id {width: 30vw; background-color: #fafafa; height:48vh;}


#instructions-for-app-id {font-size:1.8vh;
			transition-duration: 0.4s;}


#choose-movies-form-id {width: 100%;
			align:center;
			height: 70vh;}



#upload-movie-list-btn-id {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1.4vh 1.9vw;
    text-align: center;
    width: 16vw;
    text-decoration: none;
    font-size: 1.9vh;
    margin: 1.2vh .1vw;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 6vh;
}


#import-movies-api-btn-id {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1.4vh 1.9vw;
    text-align: center;
    text-decoration: none;
    width: 16vw;
    font-size: 1.9vh;
    margin: 1.8vh .1vw;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 6vh;
}


#top-div-id {display: flex;
		width:100%;}
#model-buttons-div-id {display:flex;}
#model-components-div-id{display:flex;}
#full-div-id{display:flex;}